*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* Positioning */
    /* Box-model */
    /* Typography */
    /* Visual */
    /* Misc */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border: solid 2px red;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 250px;
    justify-content: space-around;
}
input{
    width: 100%;
    padding: 15px; 
    outline: none
}
input:hover{
    border-color: rgb(18, 173, 94);
} 
input:focus{
    box-shadow: 0 0 5px rgb(18, 173, 94);
}

button{
    color: white;
    padding: 10px 30px 10px 30px;
    background-color: rgb(18, 173, 94);
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
button:hover{
    background-color: rgb(9, 128, 66);
}
