*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    padding-top:90px ;
}
.header{
    /*positioning*/
    position: fixed;
    top: 0;
    left: 0;

    /*box model*/
    width: 100%;
    height: 80px;
    background-color: rgb(59, 129, 138);
}
.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav__items{
    display: flex;
    flex-direction: row;
}

.nav__logotipo{
    font-size: 2em;
    line-height: 80px;
    text-decoration: none;
    color: white;
}
.nav__link{
    line-height: 80px;
    padding: 20px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border: solid 2px white;
}

.nav__link--active,
.nav__link:hover{
    background-color: rgb(48, 99, 105); ;

}
.nav__toggle{
    font-size: 2em;
    background-color: inherit;
    border: none;
    cursor: pointer;
    
}


main{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    margin: 0 auto 3em auto;
    height: 550px;
   
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    
}

.card__image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card__title{
    font-weight: 400px;
    margin-bottom: 15px;
}
.card__paragraph{
    line-height: 1.5;
    color: #413e3efb;
}

.boton{
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    height: 2.5em;
    align-items: center;
    background-color: #00999a;
    justify-content: center;
    padding: 0 15px;
    border-radius: 5px;
    width: 100%;
    color: white;
}
.boton:hover{
    background-color:#067e7e;
    box-shadow: 2px 2px 30px #067e7e;
}

.boton__icono, 
.boton__texto{
    height: 1em;
    margin: 0 10px;
}
.card__group{
    display: flex;
    justify-content: space-between;
}
.card__precio,
.card__stado{
    padding: 5px;
    background-color: #e6e6e6e6;
    border-radius: 10px;
}

@media(max-width: 992px){

    .nav__toggle{
        display: block;
    }
    .nav__items{
        position: fixed;
        top: 80px;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: rgb(72, 145, 153);
        left: 100%;
        
        

    }
    .nav__items--visible{
        left: 0;
    }
    

}